<connectionStrings>
  <add name="WebApiDB" connectionString="metadata=res://*/BotApiModel.csdl|res://*/BotApiModel.ssdl|res://*/BotApiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOLO10M\SQLEXPRESS;initial catalog=DevelopDB;persist security info=True;user id=sa;password=Thosewhocheatwin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
